/* Reset and General Layout Styles */
body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}
.flash {
		background-color: #ff7c7b;
		opacity: 0;
}
.flashWin{
		background-color: #888afc;
		opacity: 0;
}
header, main, footer {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6, p, li, a, td, select, input, button, main, label {
    font-family: 'Lato', serif;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

button, .button {
    background-color: transparent;
    color: #333;
    font-weight: bold;
    padding: 5px;
    border: 2px #333 solid;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

    button:hover, .button:hover {
        background-color: #C33333;
        color: #FFF;
        text-decoration: none;
    }


.row {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

a.name {
    text-decoration: none;
    color: #C33333;
}

    a.name:hover {
        text-decoration: underline;
    }

p.attribute {
    color: #808080;
}

#errorSummary {
    display: none;
    width: 55%;
    background-color: #FFF69E;
    border-radius: 4px;
    color: #555;
    margin: 0 auto;
}

    #errorSummary h3 {
        padding: 5px 5px;
        margin-bottom: 5px;
    }

    #errorSummary ul {
        padding-bottom: 10px;
    }

        #errorSummary ul li {
            margin-bottom: 2px;
        }

label.field-validation-error {
    color: #C33333;
    vertical-align: middle;
    margin-left: 5px;
    font-weight: bold;
}

/* Page Header */
header {
    background-image: url('../img/capitol_header.jpg');
    background-size: 100% 100%;
}

    header img {
        max-height: 150px;
        display: inline-block;
    }

    header h1 {
        margin-top: 55px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        color: #FFF;
    }


/*  Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

    nav ul li {
        float: left;
    }

        nav ul li.right-aligned {
            float: right;
        }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            nav ul li a:hover {
                background-color: #111;
            }


/* Footer */
main {
    min-height: 100%;
}

footer {
    background-color: #333;
}

    footer p {
        color: #FFF;
        margin: 0;
    }


/* Chat */
#chatroom {
    width: 70%;
    margin: 0 auto;
    border: 1px solid red;
    padding: 5px;
}

    #chatroom #messages,
    #chatroom #members {
        display: inline-block;
    }

    #chatroom #messages {
        width: 70%;
    }

    #chatroom #history {
        width: 80%;
    }

        #chatroom #history .message .username {
            font-weight: bold;
        }

        #chatroom #history .message .time {
            color: #808080;
        }

    #chatroom #newMessageForm button,
    #chatroom #newMessageForm textarea {
        display: inline-block;
    }

    #chatroom #newMessageForm button {
        vertical-align: top;
    }


    #chatroom #newMessageForm textarea {
        resize: vertical;
        width: 70%;
    }


    #chatroom #members {
        vertical-align: top;
        width: 20%;
    }

/* Game Board */
#game {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

    #game h2.gameover {
        color: #C33333;
    }

    #game h2.gamewin {
        color: #008542;
    }

    #game table {
        width: 600px;
        height: 450px;
        table-layout: fixed;
    }

    #game table,
    #game td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    #game #gameboard {
        background-image: url('../img/waves.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 5px auto;
    }

        #game #gameboard .ship {
            background-image: url('../img/boat-on-waves.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        #game #gameboard .pirate {
            background-image: url('../img/flag-on-waves.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        #game #gameboard .iceberg {
            background-image: url('../img/iceberg-on-waves.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        #game #gameboard .treasure {
            background-image: url('../img/treasure.jpg');
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

/* US Presidents */
#presidents {
    width: 70%;
    display: inline-block;
}

    #presidents div {
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
        margin-bottom: 10px;
        width: 120px;
    }

        #presidents div img {
            display: block;
            width: 120px;
            max-height: 130px;
        }

        #presidents div h3 {
            width: 100%;
            font-size: 0.9em;
            text-align: center;
            margin-bottom: 0px;
        }

        #presidents div p {
            text-align: center;
            font-size: 0.8em;
            margin-top: .5em;
        }

#presidents-jquery {
    display: inline-block;
    width: 28%;
    vertical-align: top;
}

    #presidents-jquery button {
        margin-top: 5px;
        margin-bottom: 10px;
    }




/* Products */
#products {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

div.product-card {
    display: inline-block;
    margin-right: 20px;
    width: 200px;
}

    div.product-card img {
        margin: 0 auto;
        width: 150px;
        display: block;
        vertical-align: bottom;
    }

    div.product-card a.name {
        margin-top: 10px;
        display: block;
    }

        div.product-card a.name:hover {
            text-decoration: underline;
        }

.price {
    color: #013566;
    font-weight: bold;
}

.weight {
    color: #000;
}

/* Product Detail */
#product-detail {
    margin: 5px auto;
}

    #product-detail div.product-image {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }

        #product-detail div.product-image img {
            display: block;
            margin: 10px auto;
            max-height: 300px;
        }

    #product-detail div.product-data {
        display: inline-block;
        margin: 0 15px;
        width: 50%;
        vertical-align: top;
    }



    #product-detail form {
        display: inline-block;
        width: 15%;
        padding: 10px;
        border: 2px solid #DDD;
        border-radius: 5px;
    }

        #product-detail form div select {
            display: block;
            margin: 0 auto;
            font-size: 1em;
        }

        #product-detail form button {
            display: block;
            margin: 5px auto;
            cursor: pointer;
        }

/* View Cart */
#shopping-cart table {
    margin: 0 auto;
}

    #shopping-cart table thead td {
        color: #808080;
    }

#shopping-cart .price,
#shopping-cart .quantity,
#shopping-cart .subtotal {
    text-align: right;
}

#shopping-cart .image {
    width: 10%;
}

#shopping-cart .title {
    text-align: left;
    font-size: 0.95em;
    padding-left: 10px;
}

    #shopping-cart .title a {
        color: #C33333;
    }

#shopping-cart .price {
    width: 10%;
}

#shopping-cart .quantity input {
    font-size: 1em;
    width: 40px;
}

#shopping-cart .quantity button {
    margin-left: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

#shopping-cart .image img {
    height: 120px;
    display: block;
    margin: 0 auto;
}

#shopping-cart table tr:last-child {
    text-align: right;
}

    #shopping-cart table tr:last-child a {
        font-size: 0.8em;
    }

/* Checkout */


#checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
}

    #checkout fieldset {
        width: 250px;
        min-width: 200px;
        padding-top: 0px;
    }

        #checkout fieldset input[type=text],
        #checkout fieldset select {
            display: block;
            margin: 3px auto;
            width: 100%;
        }

        #checkout fieldset input[type=checkbox] {
            margin-top: 7px;
        }

        #checkout fieldset label {
            font-size: 0.9em;
        }


    #checkout .price {
        color: #000;
        font-weight: normal;
    }

/* Login & Register Page */
#login, #register {
    margin: 0 auto;
    width: 40%;
}

    #login div input,
    #register input {
        width: 95%;
        margin-bottom: 12px;
        padding-right: 5px;
    }



/* Confirmation Page */
#confirmation-page {
    margin: 0 auto;
    width: 70%;
}

    #confirmation-page #order-data,
    #confirmation-page #order-items > div {
        border: 1px #ddd solid;
        border-radius: 4px;
    }

    #confirmation-page #order-data {
        display: flex;
        flex-direction: row;
        padding: 1em;
    }

    #confirmation-page div#shipping-info {
        flex-grow: 3;
    }

    #confirmation-page div#payment-info {
        flex-grow: 2;
    }

    #confirmation-page div#order-summary {
        flex-grow: 1;
    }

        #confirmation-page div#order-summary p {
            clear: both;
            padding-top: 5px;
            text-align: right;
        }

.order-item > div {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    padding-top: 5px;
}

.order-item .product-image {
    width: 15%;
}

    .order-item .product-image img {
        display: block;
        margin: 5px auto;
        height: 100px;
    }

.order-item .product-data {
    width: 50%;
    vertical-align: middle;
}

    .order-item .product-data p,
    .order-item .product-data button,
    .order-item .product-data span,
    .order-item .product-data a {
        display: block;
        margin-bottom: 5px;
    }

.order-item .product-actions {
    width: 30%;
}

    .order-item .product-actions button {
        float: right;
        width: 200px;
        margin: 2px;
    }



/* EXERCISE STYLES */
div#presidents div.president img {
    -moz-border-radius: 25px / 25px;
    -webkit-border-radius: 25px / 25px;
    border-radius: 25px / 25px;
}

div#presidents div.founding-father h3 {
    color: #C33333;
}

div#presidents div.red img {
    box-sizing: border-box;
    border: 5px #C33333 solid;
}

div#presidents div.blue img {
    box-sizing: border-box;
    border: 5px #013567 solid;
}

div#presidents div.gold img {
    box-sizing: border-box;
    border: 5px #DAA520 solid;
}

div#presidents-jquery ol li.correct {
    color: green;
    font-weight: bold;
}

div#presidents-jquery ol li.incorrect {
    color: #C33333;
    font-weight: bold;
}
